<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<add key="SendKeys" value="SendInput"/>
		<add key="spread"  value="1"/>
		<add key="fixed"  value="0"/>
		<add key="transitionType"  value="0"/>
	</appSettings>
</configuration>
